version: "3.8"

services:
  hugo:
    image: hugomods/hugo:latest
    container_name: beetroot_hugo_builder
    working_dir: /site
    command: >
      hugo
      --config /site/config.toml
      --contentDir /shared/content
      - ../../shared/blog/static:/site/static
      --destination /public
    volumes:
      - ./site:/site
      - ../../shared/blog/content:/shared/content
      - ../../shared/blog/static:/shared/static
      - ./site/public:/public
    networks:
      - beetroot
    restart: "no"

  blog:
    image: nginx:alpine
    container_name: beetroot_blog
    volumes:
      - ./site/public:/usr/share/nginx/html:ro
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "1313:80"
    networks:
      - beetroot
    restart: unless-stopped

networks:
  beetroot:
    external: true
